* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #071739 #ffffff;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #071739;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

@mixin d-flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

%fullspace {
    width: 100%;
    height: 100%;
}